body { 
    background-image: url("./img/nature.jpg");
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.navbar {
  background-color:	#1593c5;
  opacity: .7;
  display: flex;
  justify-content: space-between;
}

.left-icon {
    display: flex;
}

.home-icon {
    height: 27px;
    width: 31px;
    background-color:#366b80;
    padding: 3px 3px;
    border-radius: 3px;
    justify-content: center;
    align-self: center;
}
.boards-icon {
    height: 26px;
    width: 90px;
    background-color: #366b80;
    padding: 3px 3px;
   
    position: relative;
    left: 6px;
    border-radius: 3px;
}

.right-icon {
    height: 26px;
    width: 16px;
    background-color: #366b80;
    padding: 3px 3px;
    border-radius: 3px;
    position: relative;
    top: 3px;
    right: 8px;
} 

.left-icon, .midle-icon, .right-icon {
     padding: 5px 11px;
     color: white; 
     font-size: 21px;
}



.mid {
    position: relative;
    top: 5px;
    right: 50px;
}
.fa-plus {
    position: relative;
    top: 3px;
    left: 1px;
}
.fa-home {
    position: relative;
    left: 3px;
}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    /* padding-top: 100px;  */
    /* padding-bottom: 20px; */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow-y: scroll;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color:white;;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 34%;
    height: max-content;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  #myBtn {
    height: 135px;
    width: 137px;
    background-color: blue;
    /* opacity: .5; */
    border: 2px solid green;
    color: white;
    position: relative;
    top: 10px;
     left: 10px; 
}

#myText {
  border-radius: 5px;
  margin: 10px;
  height: 30px;
}

btn {
    width: 30%;
    position: relative;
    left: 10px;

}

#board-body {
    width: 100%;
    height: 100%;
    /* background: violet; */
    display: flex;
    justify-content: space-between;
}

#boards {
    height: 135px;
    width: 137px;
    background: blue;
    border: 2px solid green;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    /* box-shadow: 3px 3px 3px 3px blue; */
    border-radius: 5px;
}

span {
    font-size: 13px;
    
}

#cardContainer {
    display: flex;
    position: absolute;
    top: 67px;
    border-radius: 5px;
}

.cardList {
    margin: 8px;
     display: flex;
     height: max-content;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

} 
.spanCard {
    position: relative;
    left: 10px;
    width: 100px;
    height: 20px;
}

.buttonDiv {
    height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
    top: 10px;
    right: 10px;
    /* width: 20px; */
}

#listButton {
   width: 90%;
   /* position: relative; */
   border-radius: 5px;
   background: lightblue;
   margin: 15px;
  
}

#textId {
    position: relative;
    top: -2px;
    right: 31px;
    height:20px
}

#cardId {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: #D0D0D0;
    border: 1px solid lightblue;
    /* margin-left: 10px;
    margin-right: 10px; */
    border-radius: 5px;
}

#popUpContainer {
    height: 400px;  
    width: 400px;
    /* background-color: lightcoral; */
    background-color: #E8E8E8;
   display: none;
   position: absolute;
   left: 50%;
   top: 84px;
   transform: translateX(-50%);
}

#popUpContainerCheckList {
    height: 212px;
    width: 250px;
    display: none;
    /* background-color: lightcoral; */
    background-color: #cec0c0;;
    position: absolute;
    left: 60%;
}

#checkListTextId {
    width: 213px;
    height: 20px;
    position: absolute;
    top: 97px;
    left: 18px;
    border: 2px solid blue;
}

#checkListButtonId {
    position: absolute;
    bottom: 62px;
    left: 20px;
    background: blue;
    color: white;
 
}
h4 {
    position: relative;
    left: 50px;
}

#popUpContainerCheckList span {
    font-size: 20px;
    position: absolute;
    left: 12px;
}

#Heading {
    position: relative;
    top: -24px;
    left: 63px;
    color: white;
}

.cardButtonClass {
     height: 28px;
     width: 159px;
     background: #e6e1e1;
     margin: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
}

 .checkListModelcontent {
     display: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    width: 23%;
    height: 18%;
    position: absolute;
    top: 188px;
    left: 771px;
    
  }
  .modal-content{
    background: #d6b9b9;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: min-content;
      border-radius: 5px;
      margin: 38px auto;
  }
  #checkContainer {
      width: 100%;
      border-radius: 10px

  }
  .close {
      align-self: flex-end;
  }
  .checkListGet {
    background-color: #6d92a0;
    width: 97%;
    height: max-content;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* box-shadow: 10px 10px 10px 10px #888888; */

}
.checkSpan{
    margin: 0 0 20px 10px;
    font-size: 25px;
    color: white;
}
.addCheckListItemButton,.addItemCheckList{
    width: 64%;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.addCheckListItemButton {
    width: 22%;
    height: 30px;
}
 #checkSpan {
      font-size: 20px;
  }
  #checkContainer {
    display: table-caption;
    margin: 1vw;
    border-radius: 5px;
     
  }

  .itemAddSpan {
      font-size: 20px;
  }
  input{
      border-radius: 5px;
  }

  #checkListButton {
    background-color: #b0d3de;
    border-radius: 5px;
    width: 70px;
  }
  .itemAddSpan {
      color: white;
      margin: 3px;
  }

  .checkList {
    display: flex;
    justify-content: space-between;
    height: 29px;
    margin: 20px;
  }
  h3 {
    position: relative;
    top: -21px;
    font-size: 25px;
  }

 .closeCheck {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }